{% extends "index.html" %} {% block content %}

            <div class="flex flex-col h-screen justify-center text-center mx-10 md:mx-0">
                <div class="flex flex-col m-auto max-w-sm">

                    <!-- MARK: - Logo & Logout -->
                <div class="flex flex-row justify-between ml-3 md:ml-0">
                    <h2 class="font-bold text-center text-3xl md:text-5xl">P2Box<span class="text-yellow-600 text-4xl md:text-6xl">.</span></h2>
                    <span class="align-middle mt-6"><a href="" class="text-yellow-600 hover:text-yellow-800 link-animation text-center ">Logout</a></span>
                </div>

                <!-- Upload Form-->
                <form method="POST" enctype="multipart/form-data" class="flex flex-row mt-10 justify-between ">
                    <!-- File -->
                    <label>
                        <input class="w-11/12 md:w-full rounded-xl text-sm md:text-base bg-gray-200 font-bold py-2 px-3" id="chooseFileButton" type="file" name="file">
                    </label>
                    
                    <!-- Upload Btn-->
                    <button type="submit" class="focus:outline-none bg-yellow-600 bg-opacity-50 hover:bg-opacity-100 link-animation text-yellow-900 text-sm md:text-base font-bold px-3 md:px-4 py-1 md:py-2 rounded-xl ml-4 md:ml-4">Upload</button>
                </form>


                    <!-- File -->
                    <div class="container mx-auto" id="fileNameHolder">

                    </div>


                    <!-- MARK: Message -->

                    <!-- Failed 
                    <div class="bg-red-600 bg-opacity-40 rounded-xl mt-8 p-4">
                        <p class="text-left text-red-700 font-semibold ">Oh no! Something went wrong!</p>
                    </div> -->
                </div>

                <!-- Desc -->
                <span class="pb-10">
                    <p class="text-gray-400 text-sm break-all">In order to decrypt the files. We will be using your one and
                        only private key.</p>
                </span>
            </div>


    <script>
        $('document').ready(() => {
            console.log("Document is ready now")
            $("input[type=file]").change((e) => {
                let filename = e.target.files[0].name; //$('input[type=file]').val().split('\\').pop();
                let currentDate = new Date().toLocaleDateString()
                let fileHTML = `<ul class="mt-2 space-y-4">
                        <li class="text-left bg-gray-200 rounded-xl px-4 py-2 flex flex-col space-y-1">
                            <div class="flex flex-row justify-between "><span class="font-bold w-9/12 truncate">${filename}</span><i class="text-gray-400 text-xs pt-1">${currentDate}</i></div>
                            <span class="text-xs break-all">QmeRzJKf4rHSYfMudaWLvrvGgdoeLQdRDAKVZ4fXascascscXy4zHE</span>
                        </li>
                    </ul>`
                $("#fileNameHolder").html(fileHTML);

            })
        })
    </script>
</div>
{% endblock content %}