<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet" />
    <title>
        File Transfer
    </title>

</head>

<body class='bg-red-300'>
    <div class='bg-red-900 text-9xl container mx-auto'>
        <h5 class='text-9xl text-center text-white'> p2Box </h5>
    </div>
    <div class='container mx-auto bg-red-300'>
        {% block content %} {% endblock content %}
    </div>
</body>

</html>